{{ extends "global/Page.html" }}

{{ block title }}
WiSo-Forschungslabor
{{ endblock }}

{{ block content }}
<div id="wrapper">
    <div id="content-box">
        {{ if player.round_number == 1 }}
        <div class="standard-paragraph">

         <div class="content-header">
            Teil 1
             <p> </p>
        </div>

            {{ if player.role == "dictator" }}


            <p>Im folgenden Experiment sind Sie <b> seit 6 Monaten doppelt gegen COVID-19 geimpft </b>
                und haben eine Grundausstattung von {{ endowment_in_points }}n. Sie sind nun berechtigt
                für eine Booster-Impfung. Dafür stehen Ihnen 6 Termine zur Auswahl.
                Termin 1 ist der frühste und Termin 6 der späteste Termin (siehe Tabelle).</p>
            <p>Ihr ungeimpfter Gegenüber besitzt ebenfalls eine Grundausstattung
                von {{ endowment_in_points }}n. Und er hat einen möglichen Erst-Impftermin.
                Für Ihr Gegenüber ist es wichtig, dass er möglichst schnell erst-geimpft wird.</p>
            <p>Je früher Sie sich boostern lassen, desto mehr Taler erhalten Sie extra (Ihr Zusatzbetrag).
                Allerdings erhöhen Sie gleichzeitig die Wahrscheinlichkeit,
                dass die andere Person keine Impfung erhält. Das bedeutet, mit jedem Termin, den Sie früher
                wählen, sinkt die Wahrscheinlichkeit <b>des anderen</b> geimpft zu werden um 20 Prozentpunkte.
                Wird die andere Person nicht erst-geimpft, verliert sie ihre Grundausstattung und erhält somit 0
                {{ POINTS_CUSTOM_NAME }}.</p>

            {{ elif player.role == "recipient" }}

            <p>Im folgenden Experiment sind Sie <b>noch nicht gegen COVID-19 geimpft</b>. Sie
                besitzen eine Grundausstattung von {{ endowment_in_points }}n.
                Es ist wichtig, dass Sie angesichts der aktuellen pandemischen Lage
                möglichst schnell geimpft werden.</p>
            <p>Ihr geimpfter Gegenüber hat die Möglichkeit, sich für eine
                Auffrischungsimpfung (Booster-Impfung) zu entscheiden. Dabei stehen diesem sechs
                Termine zur Auswahl.  Termin 1 ist der frühste und Termin 6 der späteste Termin (siehe Tabelle). Je früher sich Ihr Gegenüber boostern lässt, desto mehr Taler
                erhält er, allerdings ist die Wahrscheinlichkeit erhöht, dass Sie <b>selbst</b> keine Erst-Impfung
                erhalten. Das heißt, mit jedem Termin, den Ihr Gegenüber früher wählt, sinkt <b>Ihre</b>
                Wahrscheinlichkeit geimpft zu werden um 20 Prozentpunkte. Werden Sie nicht geimpft, verlieren
                Sie Ihre Grundausstattung von {{ endowment_in_points }}n. </p>

            {{ endif }}

        </div>
        <div class="standard-paragraph">
            <p>{{ points_per_real_world_currency_unit }} entsprechen 1 Euro.</p>
        </div>

        {{ elif player.round_number == 2 }}

        <div class="content-header">
            Teil 2
             <p> </p>
        </div>


        </div>
        <div class="standard-paragraph">
            {{ if player.role == "dictator" }}
            <p>Alle Teilnehmer behalten ihre Rolle. Sie sind wieder seit 6 Monaten
                doppelt gegen COVID-19 geimpft und Ihnen wird zufällig ein <b>neuer
                    ungeimpfter Gegenüber</b> zugeteilt. Sie besitzen erneut eine Grundausstattung von
                {{ endowment_in_points }}n. </p>

            <p>Sie haben <b>erneut die Möglichkeit</b>, einen Termin für eine Booster-Impfung
                und somit einen Zusatzbetrag zu bekommen, aber senken gleichzeitig die
                Wahrscheinlichkeit des Erst-Impftermins Ihres Gegenübers. Modellierungen des Robert Koch-Instituts
                zeigen, dass eine Impfquote von mindestens 85% notwendig ist, um „Herdenimmunität“
                zu erreichen und somit die Pandemie in den Griff zu bekommen.</p>

            <p><b>Sie alle fungieren nun als Gesellschaft</b> mit {{ subsession.num_players }} Personen.
                Neben Ihnen sind {{ num_other_dictators }} weitere Personen geimpft und befinden
                sich gleichzeitig in der gleichen Entscheidungssituation. Insgesamt müssen von
                den ungeimpften Personen {{ subsession.min_vaccinated_recipients }} geimpft werden,
                um Herdenimmunität zu erreichen.</p>

            <p>Bei Nicht-Erreichen der Herdenimmunität ist der Gesamtbetrag
                für jeden Geimpften (geboostert und erst-geimpft) {{no_herd}} Taler. Ungeimpft Gebliebene verlieren
                unabhängig vom Erreichen der Herdenimmunität ihre Grundausstattung von {{ endowment_in_points }}n.
                Erst-Geimpfte behalten bei Herdenimmunität ihre Grundausstattung.</p>

            {{ elif player.role == "recipient" }}
            <p>Alle Teilnehmer behalten ihre Rolle. Sie sind wieder noch nicht gegen COVID-19 geimpft
                und Ihnen wird zufällig ein neuer geimpfter Gegenüber zugeteilt. Es ist wichtig,
                dass Sie angesichts
                der aktuellen pandemischen Lage möglichst schnell geimpft werden. Sie besitzen
                erneut eine Grundausstattung von {{ endowment_in_points }}n.</p>

            <p>Ihr geimpfter Gegenüber hat die Möglichkeit, sich für eine
                Auffrischungsimpfung (Booster-Impfung) zu entscheiden. Dabei stehen diesem 6
                Termine zur Auswahl. Je früher sich Ihr Gegenüber boostern lässt, desto mehr Taler
                erhält er, allerdings ist die Wahrscheinlichkeit erhöht, dass Sie keine Erst-Impfung
                erhalten. Das heißt, mit jedem Termin, den Ihr Gegenüber früher wählt, sinkt Ihre
                Wahrscheinlichkeit geimpft zu werden um 20 Prozentpunkte. Modellierungen des Robert Koch-Instituts
                zeigen, dass eine Impfquote von mindestens 85% notwendig ist, um „Herdenimmunität“
                zu erreichen und somit die Pandemie in den Griff zu bekommen.</p>

            <p><b>Sie alle fungieren nun als Gesellschaft</b> mit {{ subsession.num_players }} Personen.
                Neben Ihnen sind {{ num_other_dictators }} weitere Personen ungeimpft. Insgesamt müssen von
                den ungeimpften Personen {{ subsession.min_vaccinated_recipients }} geimpft werden,
                um Herdenimmunität zu erreichen.</p>


            <p> Werden Sie nicht erst-geimpft, verlieren Sie Ihre Grundausstattung
                unabhängig davon, ob die Herdenimmunität erreicht wurde. Wurde Herdenimmunität
                erreicht und Sie wurden erst-geimpft, behalten Sie Ihre {{ endowment_in_points }}. </p>

            {{ endif }}

        {{ endif }}
    </div>
    <div class="standard-paragraph">
        <div class="standard-paragraph">
            <table id="risk-options" class="w-100">
                <thead>
                <tr>
                    <th colspan="6">{{ if player.role == "dictator" }} Ihr {{endif}} Termin {{ if player.role == "recipient" }} Ihres Gegenübers {{endif}}</th>
                    {{ for option in options }}
                    <th>{{ option }}</th>
                    {{ endfor }}
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td colspan="6">
                        {{ if player.role == "dictator" }}Risiko, dass der Ungeimpfte seine Grundausstattung
                        von {{ endowment_in_points }}n  verliert und ungeimpft bleibt. {{ endif }}
                        {{ if player.role == "recipient" }} Risko, dass <b>Sie selbst</b> Ihre Grundausstattung
                        von {{ endowment_in_points }}n  verlieren und ungeimpft bleiben {{ endif }}
                    </td>
                        {{ for values in options.values }}
                    <td>{{ values.probability }}%</td>
                        {{ endfor }}
                <tr>
                    <td colspan="6">
                        {{ if player.role == "dictator" }} Ihr {{ endif }} <b>Zusatz</b>betrag (in {{ POINTS_CUSTOM_NAME }}n)
                        {{ if player.role == "recipient" }} Ihres Gegenübers {{ endif }}
                    </td>
                        {{ for values in options.values }}
                    <td>{{ values.amount }}</td>
                        {{ endfor }}
                </tr>
                <tr>
                    <td colspan="6" >
                        {{ if player.role == "dictator" }} Ihr {{ endif }} <b>Gesamt</b>betrag (in {{ POINTS_CUSTOM_NAME }}n)
                        {{ if player.role == "recipient" }} Ihres Gegenübers {{ endif }}
                        {{ if player.round_number == 2 }} bei Herdenimmunität {{ endif }}
                    </td>

                    <td>20</td><td>18</td><td>16</td><td>14</td><td>12</td><td>10</td>

                {{ if player.round_number == 2 }}
                <tr>
                    <td colspan="6">
                        {{ if player.role == "dictator" }} Ihr {{ endif }} <b>Gesamt</b>betrag
                        {{ if player.role == "recipient" }} Ihres Gegenübers {{ endif }}
                        wenn Herdenimmunität <b>nicht</b> erreicht wird (in {{ POINTS_CUSTOM_NAME }}n)

                    <td>5</td><td>5</td><td>5</td><td>5</td><td>5</td><td>5</td>
                </tr>
                {{ endif }}
                </tbody>
            </table>
        </div>
    </div>
    <div id="button-box">
        <button class="otree-btn-next btn btn-primary">Weiter</button>
    </div>
</div>
{{ endblock }}